@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  padding: 0;
  background-color: rgb(25,26,31);
  overflow-y: hidden;
  
}

body, html {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

/* ANIMATIONS */
.blinker {
  display: inline-block;
  vertical-align: relative;
  height: 20px;
  width: 2px;
  background-color: black;
  animation: blink-animation 1s step-start infinite;
}

@keyframes blink-animation {
  50% {
    background-color: transparent;
  }
}




/* HELPER CLASSES */

.button-container{
  display: flex;
  gap: 10%;
}

.custom-hr{
  width: 80%;
}

.button-signup, .button-login{
  border: 2px solid rgba(131, 69, 203, 0.5);
}
.flex-col{
  display: flex;
  flex-direction: column;

}

.link{
  color: blue;
}

/* CONTAINER */
.full-width-container{
  display: flex;
  position: relative;
  justify-content: center;
  width: 100vw;
  background-color: rgb(25,26,31);
  align-items: start;
  height: 100vh; 
}

.h1-stubby {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1rem 2rem;
  background: none;
  font-style: italic;
  font-size: 80px;
  color: white;
}


.bg-dark{
  background-color: rgb(25,26,31);

}

.profile-image-preview {
  width: 100px; 
  height: 100px;
  object-fit: cover;
  border-radius: 50%; 
  margin-top: 1rem; 
}



/* SIDE ALIGNED DIVS */
.right-aligned-div {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  background: none;
}

.left-aligned-div {
  width: 30%;
  margin-right: auto;
  margin-left: 0;
  text-align: left;
}

/* NO BACKGROUND */
.no-background{
  background: none;
}
/* ------------------------------------------------------------------------------------ */

/* NAVBAR */
.Navbar{
  display: flex;
  padding: 30px 0;
  margin-left: 10%;
}

.Navbar h1{
  font-size: 80px;
}

.App{
  background-color: rgb(25,26,31);

}

/* HOME */
.background-hero {
  background-image: url('./images/home.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.background-hero-dark {
  background-image: url('./images/dark-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* LOGIN & SIGNUP */
#LogIn{
  background: none;
  padding-bottom: 5px;

}

#SignUp{
  background: none;
  padding-bottom: 5px;
}
.LogIn{
  display: flex;
  justify-content: center;
  width: 300px;
  text-align: center;
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  background: white; 
  margin-top: 10%;
}

.LogIn input {
  margin-bottom: 15px; 
  padding: 12px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
  font-size: 15px;
  background-color: #F2E3FE;
}

.LogIn input:focus {
  outline: none;
  border-color: #4A90E2; 
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider-line {
  flex: 1;
  border: none;
  border-top: 1px solid #000;
  margin: 0 10px;
}

.divider-text {
  padding: 0 10px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 10px; 
  margin-right: 20px;
  border: none;
  border-radius: 20px;
  background-color: #4285F4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px; 
}

.google-icon {
  width: 30px;
  margin-right: 25px;
  border-radius: 50%;
}

.signup-prompt {
  margin-top: 20px;
  font-size: 14px; /* Adjust as needed */
}

.signup-link {
  color: #4285F4;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}


/* PROFILE INFORMATION */

.form-container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-container label, div{
  background-color: rgb(25,26,31);
  color: white;

}

.custom-hr{
  width: 100vw;
  border: 1.5px solid lightgray;
  margin-bottom: 50px;
}

.name{
  display: flex;
  width: 86%;
}


.left-half {
  width: 100%;
}

.right-half {
  width: 50%;
}

.input-field{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: monospace;

}

/* STEP 1 */

.step1-input, select.step-1input {
  width: 75%;
  padding: 10px;
  border: 2px solid rgba(192, 132, 252, 0.5); /* 0.5 opacity */
  border-radius: 8px;
  background-color: #F2E3FE;
  font-size: 15px;
  font-family: monospace;
}

select.step1-input{
  width: 79%;
  cursor: pointer;
}

.step1-input:focus {
  outline: none;
  background-color: rgb(205, 173, 237);
}


.next-back{
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  height: 100vh;
}
.step1{
  background-color: white;
}


/* STEP 2 */
.step-2-flex{
  display: flex;
}

.step-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.6;
}

.selected-subjects {
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 0.4;
  padding: 10px;
}
.select-topics-text{
  width: 70%;
  text-align: center;
  font-family: monospace;
}

.custom-subject-input input{
  background-color: white;
  color: black;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  font-family: monospace;

}

.picks{
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.predefined-subjects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 10px;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  padding: 10px;
  
}

.selected-subjects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 10px;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  height: fit-content;
  
}

.subject-button, .subject-tag {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #ddd; 
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  border: 1px solid white;
  color: white;
  transition: background-color 0.5s ease-out;
}

.subject-tag{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
}

.subject-button:hover, .subject-tag:hover {
  background-color: white;
  transform: scale(1.1); 
  color: black;
}

.subject-tag:hover{
  background-color: rgb(225, 82, 82);

}

.custom-subject-input {
  margin-top: 20px; 

}

.custom-subject-textbox {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
}

/* STEP 3 */
.step-3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  
}

.step-3-container h4{
  color: rgb(183, 135, 245);
  font-weight: bold;

}
.description-textarea {
  width: 80%; 
  height: 150px; 
  resize: none; 
  background-color: white;
  border: none;
  border-radius: 8px; 
  padding: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-size: 16px;
  margin-bottom: 10px; 
}

.description-textarea:focus {
  outline: none; 
}

.character-count {
  align-self: flex-end; 
  margin-right: 10%; 
  font-size: 14px;
  color: rgb(183, 135, 245);
}

/* EXPLORE HOME */
.explore-home-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.explore-left{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 0.7;
  overflow-x: hidden;
}

.explore-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}


.matches-messages button {
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 3px solid transparent; /* Default no border */
}

.matches-messages{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.matches-messages button:hover {

}

.matches-messages button.active {
  border-bottom: 3px solid white; /* Active button border */
}

.user-profile-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: 300px;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-details {
  margin-left: 20px;
}

.user-card-left{
  flex: 0.5;
}

.user-card-right{
  flex: 0.8;
}
.profile-image {
  width: 80px; 
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.user-description {
  flex-grow: 1;
  margin-left: 40px; /* Space between info and description */
  padding-left: 20px;
  border-left: 1px solid #ddd; /* Separator line */
}

.interaction-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.explore-right button {
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #4285F4;
  background-color: #fff;
  transition: background-color 0.3s;
}

.explore-right button:hover {
  background-color: #4285F4;
  color: white;
}


.user-image {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover;
}


.matches-messages button {
  padding: 10px 15px;
  border: none;
  color: rgb(205, 173, 237);
  cursor: pointer;
  transition: background-color 0.3s;
}

.matches-messages button:hover {

}

