@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  padding: 0;
  background-color: rgb(240,232,220)

  ;
}

body, html {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

/* ANIMATIONS */
.blinker {
  display: inline-block;
  vertical-align: relative;
  height: 20px;
  width: 2px;
  background-color: black;
  animation: blink-animation 1s step-start infinite;
}

@keyframes blink-animation {
  50% {
    background-color: transparent;
  }
}

/* HELPER CLASSES */

.button-container{
  display: flex;
  gap: 10%;
}

.button-signup, .button-login{
  border: 2px solid rgba(131, 69, 203, 0.5);
}
.flex-col{
  display: flex;
  flex-direction: column;

}

.link{
  color: blue;
}

/* CONTAINER */
.full-width-container{
  display: flex;
  justify-content: center;
  width: 100vw;

  height: 50vh; 
}

/* SIDE ALIGNED DIVS */
.right-aligned-div {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  background: none;
}

.left-aligned-div {
  width: 30%;
  margin-right: auto;
  margin-left: 0;
  text-align: left;
}

/* NO BACKGROUND */
.no-background{
  background: none;
}
/* ------------------------------------------------------------------------------------ */

/* NAVBAR */
.Navbar{
  display: flex;
  padding: 30px 0;
  margin-left: 10%;
  font-size: 40px;
}

/* HOME */
.background-hero {
  background-image: url('./images/home.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}


/* LOGIN & SIGNUP */
#LogIn{
  background: none;
  padding-bottom: 5px;
}

#SignUp{
  background: none;
  padding-bottom: 5px;
}
.LogIn{
  display: flex;
  justify-content: center;
  width: 300px;
  text-align: center;
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  background: white; 
}

.LogIn input {
  margin-bottom: 15px; 
  padding: 12px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
  font-size: 15px;
  background-color: #F2E3FE;
}

.LogIn input:focus {
  outline: none;
  border-color: #4A90E2; 
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider-line {
  flex: 1;
  border: none;
  border-top: 1px solid #000;
  margin: 0 10px;
}

.divider-text {
  padding: 0 10px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 10px; 
  margin-right: 20px;
  border: none;
  border-radius: 20px;
  background-color: #4285F4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px; 
}

.google-icon {
  width: 30px;
  margin-right: 25px;
  border-radius: 50%;
}

.signup-prompt {
  margin-top: 20px;
  font-size: 14px; /* Adjust as needed */
}

.signup-link {
  color: #4285F4;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}


/* PROFILE INFORMATION */

.form-container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.custom-hr{
  width: 100vw;
  border: 1.5px solid lightgray;
  margin-bottom: 50px;
}

.name{
  display: flex;
  width: 86%;
}


.left-half {
  width: 100%;
}

.right-half {
  width: 50%;
}

.input-field{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: monospace;

}

/* STEP 1 */

.step1-input, select.step-1input {
  width: 75%;
  padding: 10px;
  border: 2px solid rgba(192, 132, 252, 0.5); /* 0.5 opacity */
  border-radius: 8px;
  background-color: #F2E3FE;
}

select.step1-input{
  width: 79%;
  cursor: pointer;
}

.step1-input:focus {
  outline: none;
}

.next-back{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.step1{
  background-color: white;
}


/* STEP 2 */
.step-2-flex{
  display: flex;
}

.step-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.selected-subjects {
  margin-bottom: 20px;
  flex: 0.5;
}
.select-topics-text{
  width: 70%;
  text-align: center;
}

.subject-tag {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: white;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.subject-tag:hover {
  background-color: #ee7784;
}

.picks{
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subject-tag button {
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.predefined-subjects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 10px;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  
}

.selected-subjects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 10px;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  height: fit-content;
}

.subject-button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ddd; 
  background-color: white;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.subject-button:hover {
  background-color: #F2E3FE;
  transform: scale(1.1); 
}

.custom-subject-input {
  margin-top: 20px; 
}

.custom-subject-textbox {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

