@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  padding: 0;
  background-color: rgb(25,26,31);
  overflow-y: hidden;
  user-select: none;
}

body, html {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

/* ANIMATIONS */
.blinker {
  display: inline-block;
  vertical-align: relative;
  height: 20px;
  width: 2px;
  background-color: black;
  animation: blink-animation 1s step-start infinite;
}

@keyframes blink-animation {
  50% {
    background-color: transparent;
  }
}




/* HELPER CLASSES */

.button-container{
  display: flex;
  gap: 10%;
}

.custom-hr{
  width: 80%;
}

.button-signup, .button-login{
  border: 2px solid rgba(131, 69, 203, 0.5);
}
.flex-col{
  display: flex;
  flex-direction: column;

}

.link{
  color: blue;
}

/* CONTAINER */
.full-width-container{
  display: flex;
  position: relative;
  justify-content: center;
  width: 100vw;
  background-color: rgb(25,26,31);
  align-items: start;
  height: 100vh; 
}

.h1-stubby {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1rem 2rem;
  background: none;
  font-style: italic;
  font-size: 80px;
  color: white;
}


.bg-dark{
  background-color: rgb(25,26,31);

}

.bg-none{
  background: none;
}

.profile-image-preview {
  width: 100px; 
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem; 
}



/* SIDE ALIGNED DIVS */
.right-aligned-div {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  background: none;
}

.left-aligned-div {
  width: 30%;
  margin-right: auto;
  margin-left: 0;
  text-align: left;
}

/* NO BACKGROUND */
.no-background{
  background: none;
}
/* ------------------------------------------------------------------------------------ */

/* NAVBAR */
.Navbar{
  display: flex;
  padding: 30px 0;
  margin-left: 10%;
}

.Navbar h1{
  font-size: 50px;
}

.App{
  background-color: rgb(25,26,31);

}

/* HOME */
.background-hero {
  background-image: url('../images/home.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.background-hero-dark {
  background-image: url('../images/dark-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* LOGIN & SIGNUP */
#LogIn{
  background: none;
  padding-bottom: 5px;

}

#SignUp{
  background: none;
  padding-bottom: 5px;
}
.LogIn{
  display: flex;
  justify-content: center;
  width: 300px;
  text-align: center;
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  background: white; 
  margin-top: 10%;
}

.LogIn input {
  margin-bottom: 15px; 
  padding: 12px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
  font-size: 15px;
  background-color: #F2E3FE;
}

.LogIn input:focus {
  outline: none;
  border-color: #4A90E2; 
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider-line {
  flex: 1;
  border: none;
  border-top: 1px solid #000;
  margin: 0 10px;
}

.divider-text {
  padding: 0 10px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 10px; 
  margin-right: 20px;
  border: none;
  border-radius: 20px;
  background-color: #4285F4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px; 
}

.google-icon {
  width: 30px;
  margin-right: 25px;
  border-radius: 50%;
}

.signup-prompt {
  margin-top: 20px;
  font-size: 14px; 
}

.signup-link {
  color: #4285F4;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}


/* PROFILE INFORMATION */

.form-container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-container label, div{
  background-color: rgb(25,26,31);
  color: white;

}

.custom-hr{
  width: 100vw;
  border: 0.5px solid lightgray;
  margin-bottom: 50px;
}

.name{
  display: flex;

}


.left-half {
  width: 100%;
}

.right-half {
  width: 50%;
}

.input-field{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: monospace;

}

/* STEP 1 */

.step1-input, select.step-1input {
  width: 75%;
  padding: 10px;
  border: 0.5px solid rgb(67, 63, 63); 
  border-radius: 8px;
  background-color: black;
  font-size: 15px;
  font-family: monospace;
  color: lightgray;
  margin: 5px 0px;
}

select.step1-input{
  width: 79%;
  cursor: pointer;
}

.step1-input:focus {
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}

.form-container label{
  font-size: 17px;

}


.next-back{
  position: absolute;
  bottom: 15px;
  left: 50%; 
  transform: translateX(-50%);
}
.step1{
  background-color: white;
}

.gender-birthday-image{
  display: flex;
}
.gender-birthday{
  width: 50%;
}

.image-input-container {
  max-width: 200px;
  height: 300px; 
  margin: 0 auto; 
  flex: 1;
  
}

.image-input-container label {
  display: block;
  position: relative; 
  width: 78%;
  height: 70%;
  outline: 4px dashed #73787e; 
  border-radius: 8px; 
  background-size: cover; 
  cursor: pointer;
  background-color: rgb(48, 46, 46);
  overflow: visible;
}

.image-input-container label::after {
  content: '+'; 
  position: absolute;
  bottom: -13px;
  right: -15px;
  width: 30px; 
  height: 30px;
  background: rgb(214, 90, 255); 
  border-radius: 50%; 
  border: 2px solid white;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
  color: white; 
  font-size: 35px; 
  transition: transform 0.3s ease; 
}

.image-input-container label:hover::after {
  transform: rotate(90deg); 
}


.image-input-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px; 
}


/* STEP 2 */
.step-2-flex{
  display: flex;
}

.step-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.6;
}

.selected-subjects {
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 0.4;
  padding: 10px;
}
.select-topics-text{
  width: 70%;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

.custom-subject-input input{
  width: 80%;
  padding: 10px;
  border: 0.5px solid rgb(67, 63, 63); 
  border-radius: 8px;
  background-color: black;
  font-size: 15px;
  font-family: monospace;
  color: lightgray;
  margin: 10px;

}

.custom-subject-input input:focus{
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}

.picks{
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.predefined-subjects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 10px;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  padding: 10px;
  
}

.selected-subjects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 10px;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  height: fit-content;
  
}

.subject-button, .subject-tag {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid rgba(118, 115, 115, 0.5); 
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  color: white;
  transition: background-color 0.5s ease-out;
}

.subject-tag{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
}

.subject-button:hover, .subject-tag:hover {
  border: 1.5px solid white;
}

.subject-tag:hover{
  background-color: rgb(225, 82, 82);

}

.custom-subject-input {
  margin-top: 20px; 

}

.custom-subject-textbox {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: white;
}

/* STEP 3 */
.step-3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  
}

.step-3-container h4{
  color: rgb(183, 135, 245);
  font-weight: bold;

}
.description-textarea {
  width: 80%; 
  height: 150px; 
  resize: none; 
  background-color: white;
  border: none;
  border-radius: 8px; 
  padding: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-size: 16px;
  margin-bottom: 10px; 
}

.description-textarea:focus {
  outline: none; 
}

.character-count {
  align-self: flex-end; 
  margin-right: 10%; 
  font-size: 14px;
  color: rgb(183, 135, 245);
}

/* EXPLORE HOME */
.explore-home-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #F3F8FF;
}

.user-profile-card h2{
  font-size: 32px;
}

.explore-left{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 0.45;
  overflow-x: hidden;
  border-right: 1px solid white;
  background-color: #242333;

}

.explore-right{
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1;
  height: 100%;
  width: 100%;
  gap: 5px;
  flex-direction: column;
  background-color: #F3F8FF;
}

.explore-right h1{
  font-size: 60px;
  padding-bottom: 20px;
  font-style: italic;
  background-color: #F3F8FF;
  color: rgb(183, 135, 245);
  z-index: 1000;
}

.study-mate-card-container{
  background: #F3F8FF;
}


.matches-messages button {
  padding: 10px 15px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 3px solid transparent; 
  background: none;
  font-weight: 900;
}

.matches-messages{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 10px;
  background-color: #7E30E1;

}

.matches-messages button.active {
  border-bottom: 3px solid white; 
}

.user-profile-card {
  display: flex;
  border-radius: 10px;
  padding: 35px;
  margin-top: 80px;
  margin-left: 50px;
  width: 70%;
  height: 500px;
  align-items: center;
  background-color: black;
  box-shadow: 7px 7px 10px gray;

}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
}

.user-card-left h2,h3,p{
  background-color: black;
}

.user-details {
  margin-left: 20px;
  background-color: black;
}

.user-card-left{
  flex: 0.5;
  background-color: black;
  border-right: 1px solid #ddd; 
  padding-right: 10px

}

.user-card-right{
  flex: 0.8;
  background-color: black;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.user-card-right p{
  font-size: 18px;
}

.user-card-right h2{
  background-color: black;
  
}

.profile-image {
  width: 300px; 
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.user-card-title{
  margin-left: 20px;
}

.interest-card-container{
  display: grid;
  padding-left: 60px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 5px;
  background-color: black;
  margin: 10px;

}

.user-interests{
  background-color: black;
}

.user-description {
  background-color: black;
  text-align: justify;
  margin-left: 20px;
  padding-bottom: 20px;

}

.interaction-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #F3F8FF;
  position: absolute;
  bottom: 10px;
  width: 200px;
}

.explore-right button {
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #4285F4;
  background-color: #F3F8FF;
  transition: background-color 0.3s;
}

.explore-right button:hover {
  background-color: #4285F4;
  color: white;
}

.user-image {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  object-fit: cover;
  background: none;
}


.current-user{
  display: flex;
  background: none;
  gap: 5px;
  align-items: center;
}

.matches-messages button:hover {

}

.explore {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #242333;
  padding: 20px;

}

.match-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.match-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  padding: 5px;
  background-color: rgba(0,0,0,0.6);
}

.match {
  position: relative;
  border-radius: 10px;
}



.no, .yes{
  background-color: #F3F8FF;
  cursor: pointer;
  color: black;
}

.yes{
  color: rgb(0, 213, 0);

}

.no{
  color: rgb(237, 26, 26);

}

.yes:hover{
  color: lightgreen;

}

.no:hover{
  color: rgb(246, 79, 79);

}